@model IEnumerable<PucMinas.SistemaControleLogistica.ControleColetaSite.Models.SolicitacaoColetaModel>

@{
    ViewBag.Title = "Coletas";
}

<h2>Lista de Coletas de Produtos em Clientes</h2>


@section Breadcrumbs{
    <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
    <li class="breadcrumb-item active"><a href="#">Coletas Produtos</a></li>
}

<hr />

<div>
    @{
        var index = 0;
    }

    @foreach (var coleta in Model)
    {
        <div class="panel panel-body bg-light border painel-solicitacao" style="margin-top:15px;">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label class="control-label col-md-7" style="font-weight:bold;">Nº de Controle Solicitação de Transporte:</label>
                            <div class="col-md-10">
                                @Html.DisplayFor(modelItem => coleta.CodigoControleSolicitacao)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label col-md-10" style="font-weight:bold;">Status Solicitação de Transporte:</label>
                            <div class="col-md-10">
                                @{
                                    var statusTexto = "";

                                    if (coleta.StatusSolicitacao == PucMinas.SistemaControleLogistica.ControleColetaSite.Enumeradores.StatusSolicitacao.Pendente)
                                    {
                                        statusTexto = "Pendente de coleta no cliente";
                                    }
                                    else if (coleta.StatusSolicitacao == PucMinas.SistemaControleLogistica.ControleColetaSite.Enumeradores.StatusSolicitacao.ColetaEmAndamento)
                                    {
                                        statusTexto = "Coleta em andamento";
                                    }
                                }

                                <label>@statusTexto</label>
                            </div>
                        </div>
                    </div>
                </div>

                @{
                    var hrefPainelDetalhes = "#multiCollapseExample" + index;
                }

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary col-md-12" data-toggle="collapse" href="@hrefPainelDetalhes" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa fa-cube exibir-produtos-coleta"> Detalhes</i></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">

                        @{
                            var idPainelDetalhes = "multiCollapseExample" + index;
                            index = index + 1;
                        }

                        <div class="collapse multi-collapse" id="@idPainelDetalhes">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <label class="control-label col-md-10" style="font-weight:bold;">Placa Veículo:</label>
                                        <div class="col-md-10">
                                            @Html.DisplayFor(modelItem => coleta.PlacaVeiculo)
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="control-label col-md-10" style="font-weight:bold;">Registro Motorista:</label>
                                        <div class="col-md-10">
                                            @Html.DisplayFor(modelItem => coleta.RegistroMotorista)
                                        </div>
                                    </div>
                                </div>
                                
                                @*<div class="form-group" style="margin-top:10px;">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary col-md-12 solicitar-coleta"><i class="fa fa-cube exibir-produtos-coleta"> Solicitar Coleta</i></button>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}